img{
    height: 30%;
    width: 30%;
    align-items: center;
    text-align: center;

}
.photos{
    align-items: center;
    text-align: center;
    /* margin-left: 100px; */
}
/* .photo_8{
    height: auto;
    width: auto;
}
.photo_7{
    height: auto;
    width: auto;
} */
.photo_1{
    height: 30%;
    width: 30%;
}